@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');


body {
    width: 100%;
    background-color: #f4f7ff;
    font-family: 'Poppins', sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img .logo {
	font-size: 30px;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3 ease;
}

#navbar li a:hover, 
#navbar li a.active{
	color: #5995fd;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #5995fd;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close {
	display: none;
}

@media(max-width: 799px){
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
}

#navbar.active {
  right: 0;
}

#navbar li{
  margin-bottom: 25px;
}

#mobile{
  display: flex;
  align-items: center;
}

#mobile i{
  color: #1a1a1a;
  font-size: 24px;
  padding-left: 20px;
}

#close {
  display: initial;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 24px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.team {
	background-color: var(--dark-orange);
	box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.05);
}

.team-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.team-member {
	background-color: var(--alice-blue);
	padding: 2rem;
	border: 1px solid transparent;
	transition: var(--transition);
}

.team-member:hover {
	background: transparent;
	border-color: var(--dark-orange);
}

.team-member-image img {
	width: 100%;
	filter: saturate(0);
}

.team-member:hover img {
	filter: saturate(1);
}

.team-member-info * {
	text-align: center;
	margin-top: 1.4rem;
}
 
.team-member-info p, h4 {
	color: var(--black);
}

.contact {
	margin: 100px auto;
	width: 80%;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}

.contact h1 {
	color: var(--white);
	margin-bottom: 40px;
	padding: 0;
}

.contact .btn {
	margin: auto;
}

/* Footer */
.footer1{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #E3E6F3;
    padding: 100px 0;
}
.footer-col{
   width: 25%;
   padding: 10px 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #0e0f18;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #5995fd;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #0e0f18;
	text-decoration: none;
	font-weight: 300;
	color: #0e0f18;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #0e0f18;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(15, 10, 10, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #0e0f18;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #0e0f18;
}



/*responsive*/
@media(max-width: 799px){
	.contact h1{
		font-size: 24px;
	}
	.footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width: 574px){
	.contact {
		font-size: 24px;
	}
  .footer-col{
    width: 100%;
}
}

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

	/**
	 * colors
	 */
  
	--green-blue-crayola: hsl(202, 75%, 47%);
	--prussian-blue: hsl(202, 72%, 15%);
	--eerie-black: hsl(210, 11%, 15%);
	--dark-orange: hsl(32, 100%, 50%);
	--alice-blue: hsl(204, 100%, 97%);
	--light-gray: hsl(0, 0%, 80%);
	--indigo-dye: hsl(202, 64%, 26%);
	--cultured-1: hsl(0, 0%, 94%);
	--cultured-2: hsl(0, 0%, 95%);
	--cultured-3: hsl(0, 0%, 95%);
	--plutinum: #e8e8e8;
	--black_60: hsla(0, 0%, 0%, 0.6);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--onyx: hsl(0, 0%, 24%);

	--st-patricks-blue: hsl(236, 57%, 28%);
	--amaranth-purple: hsl(335, 88%, 38%);
	--royal-blue-dark: hsl(231, 68%, 21%);
	--chrome-yellow: hsl(39, 100%, 52%);
	--space-cadet-1: hsl(230, 41%, 25%);
	--space-cadet-2: hsl(230, 59%, 16%);
	--winter-sky_50: hsla(335, 87%, 53%, 0.5);
	--purple-navy: hsl(236, 26%, 43%);
	--ksu-purple: hsl(275, 54%, 33%);
	--winter-sky: hsl(335, 87%, 53%);
	--razzmatazz: hsl(335, 87%, 51%);
	--platinum: hsl(0, 0%, 90%);
	--black_70: hsla(0, 0%, 0%, 0.7);
	--rajah: hsl(29, 99%, 67%);

	--Moderate-blue: hsl(238, 40%, 52%);
	--Soft-Red: hsl(358, 79%, 66%);
	--Light-grayish-blue: hsl(239, 57%, 85%);
	--Pale-red: hsl(357, 100%, 86%);
  
	--Dark-blue: hsl(212, 24%, 26%);
	--Grayish-Blue: hsl(211, 10%, 45%);
	--Light-gray: hsl(223, 19%, 93%);
	--Very-light-gray: hsl(228, 33%, 97%);
  
	--gradient-1: linear-gradient(90deg,var(--royal-blue-dark) 0,var(--ksu-purple) 51%,var(--royal-blue-dark));
	--gradient-2: linear-gradient(90deg,var(--razzmatazz) ,var(--rajah));
  
	/**
	 * typography
	 */
  
	--ff-oswald: 'Oswald', sans-serif;
	--ff-rubik: 'Rubik', sans-serif;
	--ff-source-sans-pro: 'Source Sans Pro', sans-serif;
	--ff-poppins: 'Poppins', sans-serif;
  
	--fs-11: 4.2rem;
	--fs-12: 3.8rem;
	--fs-13: 3.2rem;
	--fs-14: 2.5rem;
	--fs-15: 2.4rem;
	--fs-16: 2rem;
	--fs-17: 1.8rem;
	--fs-18: 1.5rem;

  
	--fs-1: 6rem;
	--fs-2: 5rem;
	--fs-3: 4rem;
	--fs-4: 3rem;
	--fs-5: 2.2rem;
	--fs-6: 2rem;
	--fs-7: 1.8rem;
	--fs-8: 1.5rem;
	--fs-9: 1.4rem;
	--fs-10: 1.2rem;
  
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;
  
	/**
	 * spacing
	 */
  
	--section-padding: 50px;
  
	/**
	 * shadow
	 */
	 
	--shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
	--shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
	--shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);
  
	/**
	 * transition
	 */
  
	--transition: 0.25s ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }





/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none; }

a {
	text-decoration: none;
	color: inherit;
}

a,
img,
time,
span,
input,
button,
ion-icon { display: block; }

img { height: auto; }

input,
button {
	background: none;
	border: none;
	font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 12px; }

::-webkit-scrollbar-track { background-color: var(--cultured-2); }

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 80%);
	border: 2px solid var(--cultured-2);
}

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
#REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3 {
	font-family: var(--ff-poppins);
	line-height: 1.2;
	font-weight: var(--fw-600);
}

.h1 {
	font-size: var(--fs-3);
	text-transform: uppercase;
}

.h2,
.h3 { color: var(--prussian-blue); }

.h2 { font-size: var(--fs-4); }

.h3 { font-size: var(--fs-5); }

.img-holder {
	background-color: var(--light-gray);
	aspect-ratio: var(--width) / var(--height);
}

.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-subtitle {
	color: var(--dark-orange);
	text-transform: uppercase;
	font-size: var(--fs-6);
	font-family: var(--ff-oswald);
	font-weight: var(--fw-600);
	letter-spacing: 3px;
	margin-block-end: 10px;
}

.section-title {
	color: var(--st-patricks-blue);
	font-size: var(--fs-3);
	margin-block-end: 60px;
	max-width: max-content;
	margin-inline: auto;
}

.underline { position: relative; }

.underline::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 6px;
	background-image: var(--gradient-2);
	border-radius: 10px;
}

.section-text { line-height: 1.4; }

.btn {
	position: relative;
	color: var(--white);
	background-color: var(--dark-orange);
	max-width: max-content;
	font-size: var(--fs-9);
	letter-spacing: 1px;
	padding-block: 10px;
	padding-inline: 15px 50px;
}

.btn::before,
.btn::after {
	content: "";
	position: absolute;
	transition: var(--transition);
}

.btn::before {
	top: 50%;
	right: 15px;
	width: 25px;
	height: 1px;
	background-color: var(--white);
}

.btn::after {
	top: -6px;
	right: -6px;
	bottom: -6px;
	width: 20px;
	border: 2px solid var(--dark-orange);
	z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 33px; }

.btn:is(:hover, :focus)::after { width: 40px; }

.grid-list {
	display: grid;
	gap: 30px;
}

.btn-link {
	color: var(--dark-orange);
	font-size: var(--fs-7);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 5px;
	overflow: hidden;
}

.btn-link > * {
	transform: translateX(-22px);
	transition: var(--transition);
}

.btn-link:is(:hover, :focus) > * { transform: translateX(0); }

.w-100 { width: 100%; }







/*-----------------------------------*\
#HERO
\*-----------------------------------*/

.hero {
	position: relative;
	min-height: 99vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: grid;
	place-content: center;
	padding-block-start: calc(var(--section-padding) + 85px);
	z-index: 1;
}

.hero-content {
	background-color: var(--black_60);
	color: var(--white);
	text-align: center;
	padding: 30px;
}

.hero-title .span {
	color: var(--dark-orange);
	font-weight: var(--fw-700);
}

.hero-text { margin-block: 20px 15px; }

.btn-outline {
	max-width: max-content;
	margin-inline: auto;
	font-size: var(--fs-9);
	font-weight: var(--fw-500);
	text-transform: uppercase;
	border: 1px solid var(--white);
	padding: 8px 20px;
	transition: var(--transition);
}

.btn-outline:is(:hover, :focus) {
	background-color: var(--dark-orange);
	border-color: var(--dark-orange);
}

.hero-shape {
	position: absolute;
	z-index: -1;
	animation: move 2s ease-in-out infinite alternate;
}

.hero .shape-1 {
	top: 100px;
	left: 30px;
}

.hero .shape-2 {
	bottom: 80px;
	right: 30px;
}

@keyframes move {
	0% { transform: translateY(0); }
	100% { transform: translateY(20px); }
}


/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about-banner { margin-block-end: 30px; }

.about .section-title { margin-inline: 0; }

.about .underline::before {
  left: 0;
  transform: translateX(0);
}

.about-text {
  font-size: var(--fs-8);
  margin-block-end: 20px;
}

.stats-list {
  display: grid;
  gap: 30px;
}

.stats-card {
  text-align: center;
  padding: 15px;
  box-shadow: var(--shadow);
  border-radius: var(--radius-12);
}

.stats-title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
}

.stats-text { font-size: var(--fs-8); }
  
  
  
  
/*-----------------------------------*\
#SERVICE
\*-----------------------------------*/

.service { background-color: var(--alice-blue); }

.service :is(.section-subtitle, .section-title, .section-text) { text-align: center; }

.service .section-title { margin-block-end: 20px; }

.service .section-text { margin-block-end: 50px; }

.service-card {
	background-color: var(--white);
	padding: 30px;
	border: 20px solid var(--cultured-3);
	transition: var(--transition);
}

.service-card:is(:hover, :focus-within) { border-color: var(--dark-orange); }

.service-card .card-icon { margin-block-end: 30px; }

.service-card .card-title .span {
	display: inline-block;
	color: var(--dark-orange);
	font-size: var(--fs-3);
	margin-inline-end: 15px;
}

.service-card .card-text { margin-block: 10px 20px; }
  
/*-----------------------------------*\
#FEATURE
\*-----------------------------------*/

.feature .title-wrapper { margin-block-end: 30px; }

.feature .section-text { margin-block: 20px 40px; }

.feature-card {
	position: relative;
	padding: 30px;
	text-align: center;
	border: 1px solid var(--alice-blue);
	transition: var(--transition);
}

.feature-card:is(:hover, :focus-within) { box-shadow: var(--shadow-3); }

.feature-card::before {
	content: var(--card-number);
	color: var(--cultured-1);
	font-family: var(--ff-oswald);
	font-size: var(--fs-1);
	font-weight: var(--fw-700);
	line-height: 1;
	transition: var(--transition);
}

.feature-card:is(:hover, :focus-within)::before { color: var(--dark-orange); }

.feature-card .card-icon {
	background-color: var(--alice-blue);
	width: 170px;
	height: 170px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	margin-inline: auto;
	margin-block-end: 30px;
}

.feature-card .card-text { margin-block: 20px 40px; }

  

/*-----------------------------------*\
#BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
	position: fixed;
	bottom: 10px;
	right: 20px;
	background-color: var(--eerie-black);
	color: var(--white);
	font-size: 20px;
	padding: 10px;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
}

.back-top-btn.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(-10px);
}
  
  

  /*-----------------------------------*\
	#MEDIA QUERISE
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 540px screen
   */
  
@media (min-width: 540px) {

	/**
		* REUSED STYLE
		*/

	.btn {
		font-size: var(--fs-7);
		padding-inline: 30px 60px;
	}

	/**
		* ABOUT
		*/

	.about .abs-img-2 {
		display: block;
		position: absolute;
		width: 400px;
		bottom: 0;
		left: 50px;
		z-index: -1;
	}

	.about .abs-img-1 { right: -200px; }

}
 
  
/**
* responsive for larger than 640px screen
*/

@media (min-width: 640px) {

	/**
		* REUSED STYLE
		*/

	.h1 { --fs-3: 5rem; }

	.container {
		max-width: 540px;
		width: 100%;
		margin-inline: auto;
	}

	/**
		* HERO
		*/

	.hero { justify-content: flex-start; }

	.hero .shape-1 { left: 45px; }

	.hero-content {
		background-color: transparent;
		text-align: left;
	}

	.hero-title .span { --fs-2: 6rem; }

	.hero-text { max-width: 30ch; }

	.btn-outline { margin-inline: 0; }

}


/**
* responsive for larger than 768px screen
*/
  
@media (min-width: 768px) {

	/**
		* REUSED STYLE
		*/

	.container { max-width: 720px; }

	.h1 { --fs-3: 6rem; }

	.grid-list { grid-template-columns: 1fr 1fr; }



	/**
		* HERO
		*/

	.hero-title .span { --fs-2: 7rem; }

	.hero-text {
		font-size: var(--fs-7);
		max-width: 40ch;
		margin-block-end: 40px;
	}

	.btn-outline {
		font-size: var(--fs-7);
		padding: 12px 30px;
	}



	/**
		* FEATURES
		*/

	.feature-card::before { --fs-1: 10rem; }

	/**
		* FOOTER
		*/

	.footer-top { grid-template-columns: 1fr 1fr; }

}

/**
* responsive for larger than 992px screen
*/
  
@media (min-width: 992px) {

	/**
		* CUSTOM PROPERTY
		*/

	:root {

		/**
		* typography
		*/

		--fs-4: 4.5rem;

		/**
		* spacing
		*/

		--section-padding: 120px;

	}



	/**
		* REUSED STYLE
		*/

	.container { max-width: 960px; }

	.h1 { --fs-3: 9.5rem; }

	.section-subtitle { --fs-6: 3rem; }

	.section-text {
		max-width: 70ch;
		margin-inline: auto;
	}

	.grid-list { grid-template-columns: repeat(3, 1fr); }
	/**
		* HERO
		*/

	.hero { grid-template-columns: 1fr; }

	.hero-content { padding: 0; }

	.hero-title .span { --fs-2: 12rem; }



	/**
		* ABOUT
		*/

	.about .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 30px;
	}

	.about-banner { margin-block-end: 0; }

	.about .abs-img-1 { right: -100px; }

	.about :is(.section-title, .section-text) { margin-block-end: 35px; }



	/**
		* FEATURE
		*/

	.feature .title-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: self-end;
	}

	.feature .section-text { margin-block-end: 0; }

	.feature-list { margin-block-start: 120px; }

	.feature-card { padding-block-start: 80px; }

	.feature-card::before {
		--fs-1: 16rem;
		position: absolute;
		top: -90px;
		left: 20px;
	}

	/**
		* FOOTER
		*/

	.footer-top {
		grid-template-columns: repeat(4, 1fr);
		justify-items: self-end;
	}

	.copyright { text-align: center; }

}





/**
* responsive for larger than 1200px screen
*/

@media (min-width: 1200px) {

/**
	* REUSED STYLE
	*/

.container { max-width: 1180px; }

.h1 { --fs-3: 9.5rem; }



/**
	* HEADER
	*/

.header .contact-number { --fs-6: 3rem; }


/**
	* ABOUT
	*/

.about-banner { max-width: 370px; }

.about .abs-img-2 { width: max-content; }

/**
	* FOOTER
	*/

.footer-top { padding-block: 60px; }

}

  :root {

	/**
	 * typography
	 */
  
	
  
	/**
	 * border radius
	 */
  
	--radius-4: 4px;
	--radius-12: 12px;
  
	/**
	 * spacing
	 */
  
	--section-padding: 60px;
  
	/**
	 * transition
	 */
  
	--transition-1: 0.15s ease;
	--transition-2: 0.35s ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  
	/**
	 * shadow
	 */
  
	--shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
	#RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  input,
  button {
	background: none;
	border: none;
	font: inherit;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  ion-icon { pointer-events: none; }
  
  img { height: auto; }
  
  address { font-style: normal; }
  
  html {
	font-family: var(--ff-poppins);
	font-size: 10px;
	scroll-behavior: smooth;
  }
  
  body {
	background-color: var(--white);
	color: var(--purple-navy);
	font-size: 1.6rem;
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
  
  ::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
  
  
  
  
  /*-----------------------------------*\
	#REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .h2,
  .h3 { font-family: var(--ff-poppins); }
  
  .btn {
	background-image: var(--gradient-2);
	background-size: 200%;
	color: var(--white);
	padding: 12px 35px;
	font-size: var(--fs-18);
	font-weight: var(--fw-500);
	border-radius: 0 25px;
	transition: var(--transition-2);
  }
  
  .btn:is(:hover, :focus) { background-position: right; }
  
  .w-100 { width: 100%; }
  
  .banner-animation { animation: waveAnim 2s linear infinite alternate; }
  
  @keyframes waveAnim {
	0% { transform: translate(0, 0) rotate(0); }
	100% { transform: translate(2px, 2px) rotate(1deg); }
  }
  
  .section { padding-block: var(--section-padding); }
  
  .section-title {
	color: var(--st-patricks-blue);
	font-size: var(--fs-13);
	margin-block-end: 60px;
	max-width: max-content;
	margin-inline: auto;
  }
  
  .underline { position: relative; }
  
  .underline::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 6px;
	background-image: var(--gradient-2);
	border-radius: 10px;
  }
  
  :is(.service-card, .features-card) .title {
	color: var(--st-patricks-blue);
	font-size: var(--fs-14);
	font-weight: var(--fw-700);
  }
  
  :is(.service-card, .features-card, .blog-card) .text { font-size: var(--fs-18); }
  
  .img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  /*-----------------------------------*\
	#ABOUT
  \*-----------------------------------*/
  
  .about-banner { margin-block-end: 30px; }
  
  .about .section-title { margin-inline: 0; }
  
  .about .underline::before {
	left: 0;
	transform: translateX(0);
  }
  
  .about-text {
	font-size: var(--fs-18);
	margin-block-end: 20px;
  }
  
  .stats-list {
	display: grid;
	gap: 30px;
  }
  
  .stats-card {
	text-align: center;
	padding: 15px;
	box-shadow: var(--shadow);
	border-radius: var(--radius-12);
  }
  
  .stats-title {
	color: var(--st-patricks-blue);
	font-size: var(--fs-12);
	font-weight: var(--fw-700);
  }
  
  .stats-text { font-size: var(--fs-18); }

  
  /*-----------------------------------*\
	#MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 550px screen
   */
  
  @media (min-width: 550px) {
  
	/**
	 * REUSED STYLE
	 */
  
	.container {
	  max-width: 550px;
	  margin-inline: auto;
	}
  
	.section-title { --fs-13: 3.6rem; }
	/**
	 * ABOUT
	 */
  
	.stats-list { grid-template-columns: repeat(3, 1fr); }
  }

  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
	/**
	 * REUSED STYLE
	 */
  
	.container { max-width: 720px; }
  }

  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
	/**
	 * CUSTOM PROPERTY
	 */
  
	:root {
  
	  /**
	   * typography
	   */
  
	  --fs-11: 5.4rem;
  
	}

	/**
	 * REUSED STYLE
	 */
  
	.container { max-width: 950px; }

	/**
	 * ABOUT
	 */
  
	.about .container {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  gap: 30px;
	}
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
	/**
	 * REUSED STYLE
	 */
  
	.container { max-width: 1200px; }
  
	.section-title { --fs-13: 4.6rem; }
  
  }
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

p{
	line-height: 1.5;
}

a{
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
}

button{
	cursor: pointer;
}

button:hover{
	filter: saturate(80%);
}

.bu-primary{
	background-color: var(--Moderate-blue);
	color: var(--white);
	border: none;
	padding: .75rem 1.5rem;
	border-radius: 4px;
}

.comment-section{
	padding: 0 1rem;
}

.containers{
	border-radius: 8px;
	padding: 1.5rem;
	background-color: var(--white);
}

.comments-wrp {
	display: flex;
	flex-direction: column;
}

.comment-section{
	max-width: 75ch;
	margin: auto;
	margin-top: 1rem;
}

.email {
	width: 100%;
}

.comment{
	margin-bottom: 1rem;
	display: grid;
	grid-template-areas: 
		"score user controls"
		"score comment comment"
		"score comment comment"
	;
	grid-template-columns: auto 1fr auto;
	gap: 1.5rem;
	row-gap: 1rem;
	color: var(--Grayish-Blue);
}

.c-score{
	color: var(--Moderate-blue);
	font-weight: 500;
	grid-area: score;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: .75rem;
	padding-top: .5rem;
	width: 1rem;
	box-sizing: content-box;
	background-color: var(--Very-light-gray);
	border-radius: 8px;
	align-self: flex-start;
}

.score-control{
	width: 100%;
	cursor: pointer;
	object-fit: scale-down;
}

.c-text{
	grid-area: comment;
	width: 100%;
}

.c-user{
	width: 100%;
	grid-area: user;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.usr-name{
	color: var(--Dark-blue);
	font-weight: 700;
}
.usr-img{
	height: 2rem;
	width: 2rem;
}

.c-controls{
	display: flex;
	gap: 1rem;
	color: var(--Moderate-blue);
	grid-area: controls;
	align-self: center;
	justify-self: flex-end;
}

.c-controls a{
	align-items: center;
}

.delete{
	color: var(--Soft-Red);
	display: none;
}

.control-icon{
	margin-right: .5rem;
}

.replies{
	display: flex;
	margin-left: 2.5rem;
	padding-left: 2.4rem;
	border-left: 1px solid var(--Light-grayish-blue);
}

.reply-to{
	color: var(--Moderate-blue);
	font-weight: 500;
}

.reply-input{
	display: grid;
	margin-bottom: 1rem;
	grid-template-areas: "avatar input button";
	grid-template-columns: min-content auto min-content;
	justify-items: center;
	gap: 1rem;
	min-height: 9rem;
}

.reply-input img{
	grid-area: avatar;
	height: 2.5rem;
	width: 2.5rem;
}

.reply-input button{
	grid-area: button;
	align-self: flex-start;
}

.reply-input input{
	grid-area: input;
	padding: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	border: 1px solid var(--Light-gray);
	border-radius: 4px;
	resize: none;
}

.reply-input textarea{
	grid-area: input;
	padding: 1rem;
	width: 100%;
	border: 1px solid var(--Light-gray);
	border-radius: 4px;
	resize: none;
}

.this-user .usr-name::after{
	font-weight: 400;
	content: "you";
	color: var(--white);
	background-color: var(--Moderate-blue);
	padding: 0 .4rem;
	padding-bottom: .2rem;
	font-size: .8rem;
	margin-left: .5rem;
	border-radius: 2px;
}

.this-user .reply{
	display: none;
}

.this-user .edit , .this-user .delete{
	display: flex;
}
  
@media screen and (max-width:640px) {
	.container{
		padding: .75rem;
	}

	.replies{
		padding-left: 1rem;
		margin-left: .5rem;
	}

	.comment{
		grid-template-areas: 
			"user user user"
			"comment comment comment"
			"score ... controls"
		;

		gap: .5rem;
	}
	.c-score{
		flex-direction: row;
		width: auto;
	}

	/* .reply-input{
		grid-template-areas: 
			"input input input"
			"avatar ... button"
		;
		grid-template-rows: auto min-content;
		align-items: center;
		gap: .5rem;
	} */

	.reply-input img{
		height: 2rem;
		width: 2rem;
	}

	.reply-input textarea{
		height: 6rem;
		padding: .5rem;
		align-self: stretch;
	}
}


.modal-wrp{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.3);
}

.modal{
	padding: 1.5rem;
	max-width: 32ch;
	display: grid;
	gap: 1rem;
	grid-template-areas: 
	"heading heading"
	"body body"
	"no yes";
}

.invisible{
	display: none;
}

.modal h3{
	grid-area: heading;
	color: var(--Dark-blue);
}
.modal button{
	color: var(--white);
	padding: .75rem;
	border-radius: 8px;
	border: none;
	font-weight: 500;
}

.modal p{
	grid-area: body;
	color: var(--Grayish-Blue);
	line-height: 1.5;
}

.modal .yes{
	grid-area: yes;
	background-color: var(--Soft-Red);
}

.modal .no{
	background-color: var(--Grayish-Blue);
	grid-area: no;
}